/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
    
}

/* MENU' */

#header-menu {
    margin: 40px 0 0 0;
    background-color: #fff;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    display: flex;
    align-items: center;
}

.menu-right {
    display: flex;
    align-items: center;
}

.header-menu-button {
    color: #fff;
    padding: 10px 20px;
    background-color: #d8338b;
    border: none;
    border-radius: 15px;
}

.menu-left img {
    width: 100px;
    height: 25px;
    margin: 0 30px 0 0;
}

.menu-list-right li,
.menu-list-left li {
    list-style: none;
    display: inline;
    margin: 0 30px 0 0;
}

.menu-list-right li a,
.menu-list-left li a {
    font-size: 14px;
    color: rgb(160, 158, 158);
    text-decoration: none;
    transition: color .4s;
}

.menu-list-right li a:hover,
.menu-list-left li a:hover {
    color: #000;
}

.menu-list-right li a i {
    font-size: 10px;
    margin: 0 0 0 5px;
    transition: transform .4s;
}

/* Submenu */

.menu-list-right li.with-dropdown {
    position: relative;
}

.submenu {
    display: none; /* <--- jQuery */
    width: 280px;
    margin: 10px 0 0 0;
    background-color: #fff;
    position: absolute;
    right: -148px;
    top: 100%;
    border: 1px solid transparent;
    filter: drop-shadow( 0px 2px 3px rgba(0, 0, 0, 0.2));
}

.submenu-list {
    display: flex;
    flex-direction: column;
}

.submenu-list li {
    margin: 0;
    padding: 10px 10px;
    transition: background .4s ;
}

.submenu-list li:hover {
    background-color: #e2e2e2;
}

.submenu-list li:hover a {
    color: #000;
}